<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.2.xsd" 
     default-autowire="byName" default-lazy-init="false">
	
	 <!-- 开启事务注解驱动 -->   
    <tx:annotation-driven  transaction-manager="transactionManager"/>  
    
    <!-- 为业务逻辑层的方法解析@DataSource注解  为当前线程的routeholder注入数据源key -->   
    <bean id="dataSourceAspect" class="com.webapp.framework.core.datasource.DataSourceAspect" />  
    
    <!-- 事物管理 -->
	<bean id="transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>
    
    <!-- 通过AOP配置提供事务增强，让service层中的所有方法拥有事物 -->
    <aop:config proxy-target-class="true">  
        <!-- 切点 --> 
        <aop:pointcut id="tx" expression="execution(* com.webapp..*.service..*.*(..))"/>
        
        <!-- <aop:advisor pointcut="execution(* com.webapp..*.service..*.*(..))" advice-ref="txAdvice" /> -->
        <!-- 建议 -->
        <aop:advisor pointcut-ref="tx" advice-ref="txAdvice" />
        
        <!-- 切面 -->
        <aop:aspect id="dataSourceAspect" ref="dataSourceAspect" order="1"> 
            <!-- <aop:pointcut id="txx" expression="execution(* com.webapp..*.service..*.*(..))"/>    -->
            <aop:before pointcut-ref="tx" method="before" />                
        </aop:aspect>    
    </aop:config> 
    
    <!-- 
    <aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* com.webapp..*.service..*.*(..))" advice-ref="txAdvice" />
	</aop:config> 
	-->
    <!-- 拦截器方式配置事物 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="get*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="list*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="load*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="query*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="*" propagation="REQUIRED" read-only="false" />
		</tx:attributes>
	</tx:advice> 
     
</beans>


