<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
  xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
     http://mybatis.org/schema/mybatis-spring 
     http://mybatis.org/schema/mybatis-spring.xsd" 
     default-autowire="byName" default-lazy-init="true">
     
	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->  
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
	    <property name="dataSource" ref="dataSource"></property>
	    <!-- 自动扫描映射文件 -->
	    <property name="mapperLocations" value="classpath*:/com/webapp/**/mapper/*Mapper.xml"></property>
	    <!-- mybatis插件配置  PageHelper -->
	    <property name="configLocation" value="classpath*:/mybatis/mybatis-config.xml" />  
	</bean>
	
	<!-- 该包下的类支持注解，表示会被当作{@code mybatis mapper}处理 配置了之后表示可以自动引入mapper类-->  
	<!-- <mybatis:scan base-package="com.webapp.**.mapper"/>   -->
	
	<!-- 将映射文件与mapper类关lian-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="basePackage" value="com.webapp.**.mapper"></property>
	     <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>  
	    <!-- <property name="markerInterface" value="com.webapp.base.mapper.BaseMapper"></property> -->
	</bean> 
     
</beans>






